# Kconfig - Clock controller driver configuration options

#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig CLOCK_CONTROL_KENDRYTE
	bool "Kendryte Clock controller support"
	depends on SOC_SERIES_RISCV_K210
	help
	 Enable support for the Kendryte clock driver.
